@{
    ViewBag.Title = "Display Home";
}

<h3>@ViewBag.Title</h3>

<div class="navbar-collapse collapse">
    <ul class="nav nav-pills nav-stacked span2">
        <li>@Html.ActionLink("Timeline Chart", "Index", "Timeline")</li>
        <li>@Html.ActionLink("Ledger Display & Export", "Index", "Ledger")</li>
    </ul>
</div>