@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Address Line<br />
        City, ST 00000-0000<br />
        <abbr title="Phone">P:</abbr>
        000.000.0000
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>
        <a href="mailto:Support@example.com">Support@example.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong>
        <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>