@{
    ViewBag.Title = "Index";
}

<h3>Item Detail</h3>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Debits", "Index", "Debits")</li>
        <li>@Html.ActionLink("Credits", "Index", "Credits")</li>
        <li>@Html.ActionLink("Initial Amount", "Index", "InitialAmount")</li>
    </ul>
</div>