@model double?

@if (Model >= 0)
{
    <span class="positive-green">@Html.Encode(String.Format("{0:$#,##0.00;($#,##0.00);'-'}", Model))</span>
}
else
{
    <span class="negative-red">@Html.Encode(String.Format("{0:$#,##0.00;($#,##0.00);'-'}", Model))</span>
}
