@model int?

@if (Model == 0)
{
    <span class="black">-</span>
}
 else if (Model == 1)
{
    <span class="blue">Credit</span>
}
else if (Model == 2)
{
    <span class="magenta">Debit</span>
}
else if (Model == 2)
{
    <span class="red">?</span>
}

