body {
  background: url("/Content/img/CentennialOlympicParkAtlantaGeorgia.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #222222;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 0;
  padding-right: 0;
}
p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #222222;
}
hr {
  border-color: #777777;
  max-width: 400px;
}
.brand,
.address-bar {
  display: none;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
/* styles for validation helpers */
.field-validation-error {
  color: #d9534f;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #d9534f;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #d9534f;
}
.validation-summary-valid {
  display: none;
}
.google {
  background: url("/Content/img/Google.png") no-repeat center center !important;
  width: 50px;
  height: 50px;
}
.windows {
  background: url("/Content/img/Windows.png") no-repeat center center !important;
  width: 50px;
  height: 50px;
}
.twitter {
  background: url("/Content/img/Twitter.png") no-repeat center center !important;
  width: 50px;
  height: 50px;
}
.facebook {
  background: url("/Content/img/Facebook.png") no-repeat center center !important;
  width: 50px;
  height: 50px;
}
.img-full {
  min-width: 100%;
}
.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}
.tagline-divider {
  margin: 15px auto 3px;
  border-color: #777777;
  max-width: 250px;
}
.box {
  background: #eeeeee;
  /*background: rgba(255,255,255,0.9);*/
  margin-bottom: 20px;
  padding: 30px 15px;
}
.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}
.img-border {
  float: none;
  margin: 0 auto 0;
  border: #777777 solid 1px;
}
.img-left {
  float: none;
  margin: 0 auto 0;
}
/*footer {
  background: @gray-lighter;
}*/
footer p {
  margin: 0;
  padding-top: 5px;
}
.box-month {
  width: 150px;
  float: left;
}
.box-day {
  width: 100px;
  float: left;
  margin-left: 30px;
}
.box-day-1 {
  width: 125px;
  float: left;
}
.box-day-2 {
  width: 125px;
  float: left;
  margin-left: 30px;
}
/* Chart */
.legendColorBox {
  padding-right: 5px;
}
.tooltipPopup {
  position: absolute;
  display: none;
  padding: 3px;
  font-size: 9px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
  -ms-opacity: 0.9;
  opacity: 0.9;
}
.headerPopup {
  font-size: small;
  background-color: #808080;
  color: #FFFFFF;
}
.columnHeading {
  background-color: #d3d3d3;
}
.alignRight {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .body-content {
    padding-left: 5px;
    padding-right: 5px;
  }
  .brand {
    display: inherit;
    font-weight: 700;
    font-size: 5em;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 30px 0 10px;
    color: white;
    text-shadow: 1px 1px 2px #777777;
  }
  .top-divider {
    margin-top: 0;
  }
  .img-left {
    float: left;
    margin-right: 25px;
  }
  .address-bar {
    display: inherit;
    text-align: center;
    margin: 0;
    padding: 0 0 40px;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    color: white;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
    text-shadow: 1px 1px 2px #777777;
  }
}
@media screen and (min-width: 1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both;
  }
}
.jumbotron-container {
  padding: 30px 15px;
  margin: 0;
  border: 5px solid #777777;
  color: inherit;
  background: url("/Content/img/atlantaskylinesilhouette.jpg") #eeeeee no-repeat top center;
}
.jumbotron-container h1,
.jumbotron-container .h1 {
  color: inherit;
}
.jumbotron-container p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 200;
}
.jumbotron-container hr {
  border-top: 2px solid #777777;
  max-width: 100%;
}
.container .jumbotron-container {
  border-radius: 6px;
}
.jumbotron-container .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron-container {
    padding-top: 48px;
    padding-bottom: 48px;
    margin: 30px;
    border: 20px solid #777777;
  }
  .container .jumbotron-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .jumbotron-container h1,
  .jumbotron-container .h1 {
    font-size: 63px;
  }
}
#UnResponsiveList ul li {
  border: none;
  padding: 0 15px 0 0;
}
#ResponsiveList ul li {
  border: none;
  padding: 0 15px 0 0;
}
@media screen and (min-width: 768px) {
  #ResponsiveList ul li {
    float: left;
  }
}
.list-group-plain {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0;
}
.list-group-plain-item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #ffffff;
}
.list-group-plain-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.list-group-plain-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.list-group-plain-item > .badge {
  float: right;
}
.list-group-plain-item > .badge + .badge {
  margin-right: 5px;
}
a.list-group-plain-item {
  color: #555555;
}
a.list-group-plain-item .list-group-plain-item-heading {
  color: #333333;
}
a.list-group-plain-item:hover,
a.list-group-plain-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}
a.list-group-plain-item.active,
a.list-group-plain-item.active:hover,
a.list-group-plain-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
}
a.list-group-plain-item.active .list-group-plain-item-heading,
a.list-group-plain-item.active:hover .list-group-plain-item-heading,
a.list-group-plain-item.active:focus .list-group-plain-item-heading {
  color: inherit;
}
a.list-group-plain-item.active .list-group-plain-item-text,
a.list-group-plain-item.active:hover .list-group-plain-item-text,
a.list-group-plain-item.active:focus .list-group-plain-item-text {
  color: #c7ddef;
}
.list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}
a.list-group-item-success,
button.list-group-item-success {
  color: #3c763d;
}
a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
  color: inherit;
}
a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}
a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}
.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}
a.list-group-item-info,
button.list-group-item-info {
  color: #31708f;
}
a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
  color: inherit;
}
a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
  color: #31708f;
  background-color: #c4e3f3;
}
a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}
.list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
a.list-group-item-warning,
button.list-group-item-warning {
  color: #8a6d3b;
}
a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
  color: inherit;
}
a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}
a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}
.list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}
a.list-group-item-danger,
button.list-group-item-danger {
  color: #a94442;
}
a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
  color: inherit;
}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
  color: #a94442;
  background-color: #ebcccc;
}
a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}
.list-group-plain-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-plain-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

