<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!--FinancialPlannerLocalDb on the in the App_Data folder-->
    <add name="DefaultConnection"
         connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FinancialPlannerLocalDb.mdf;Initial Catalog=FinancialPlannerLocalDb;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="AdminEntities"
         connectionString="metadata=res://*/Entity.enAdmin.csdl|res://*/Entity.enAdmin.ssdl|res://*/Entity.enAdmin.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDb)\v11.0;initial catalog=FinancialPlannerLocalDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
         providerName="System.Data.EntityClient" />
    <add name="ItemDetailEntities"
         connectionString="metadata=res://*/Entity.enItemDetail.csdl|res://*/Entity.enItemDetail.ssdl|res://*/Entity.enItemDetail.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDb)\v11.0;initial catalog=FinancialPlannerLocalDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
         providerName="System.Data.EntityClient" />

    <!--FinancialPlanner on Azure-->
    <!--<add name="DefaultConnection"
     connectionString="Data Source=tcp:pn5745kjcc.database.windows.net,1433;Initial Catalog=FinancialPlanner;User ID=rdonalson@pn5745kjcc;Password=@89UIor#-jk"
     providerName="System.Data.SqlClient" />
    <add name="AdminEntities"
         connectionString="metadata=res://*/Entity.enAdmin.csdl|res://*/Entity.enAdmin.ssdl|res://*/Entity.enAdmin.msl;provider=System.Data.SqlClient;provider connection string='Data Source=tcp:pn5745kjcc.database.windows.net,1433;Initial Catalog=FinancialPlanner;User ID=rdonalson@pn5745kjcc;Password=@89UIor#-jk;MultipleActiveResultSets=True;App=EntityFramework'"
         providerName="System.Data.EntityClient" />
    <add name="ItemDetailEntities"
         connectionString="metadata=res://*/Entity.enItemDetail.csdl|res://*/Entity.enItemDetail.ssdl|res://*/Entity.enItemDetail.msl;provider=System.Data.SqlClient;provider connection string='Data Source=tcp:pn5745kjcc.database.windows.net,1433;Initial Catalog=FinancialPlanner;User ID=rdonalson@pn5745kjcc;Password=@89UIor#-jk;MultipleActiveResultSets=True;App=EntityFramework'"
         providerName="System.Data.EntityClient" />-->
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>