@{
    ViewBag.Title = "Item Details";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="DisplayLable">@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        <article>
            <p>
                In the Item Detail section add your credits (Income sources: paychecks, tax refunds, etc.) and the Period of Occurrence. Be sure to enter the amounts you get after taxes are taken out (take-home pay).
            </p>
            <p>
                Then do the same with your debits (Bills, mortgage, car payment, etc). Enter debit amounts in positive values, the program will take of the subtracting.
            </p>
            <p>
                Then enter your starting Balance.
            </p>
            <p>
                Then go to the Display Section.
            </p>
        </article>
    </div>
</div>